 
body{           
	margin: 0;           
	padding: 0;          
	font: 16px/20px microsft yahei;
}    
  
.wrap{
	width: 100%;
	height: 100%;
	position: fixed;
	opacity: 0.9; /*设置透明度*/
	background-image: url(../img/th3.jpg);
}


.container_denglu{
	width: 60%;
	height:50%;
	margin: 10% auto;
	text-align: center;
}

.container {
	height: 100%;
	width: 60%;
	margin: 5% auto;
	text-align: center;
}

#RegisterContainer{
	display: none;           /*none代表展示，block代表隐藏*/
}

.container h1 ,.container_denglu h1{   
    text-align: center;    
	color: #FFFFFF;          
	font-weight: 500;    
}   
   
.container input,.container_denglu input{    
	width: 300px;   
	display: block;
	height: 25px;       
	border: 0;         
	outline: 0;         
	padding: 6px 10px;    
	line-height: 24px;	
	-webkit-transition: all 0s ease-in 0.1ms;
	-moz-transition: all 0s ease-in 0.1ms;
	transition: all 0s ease-in 0.1ms;    
}

#re_checkCode{
	width: 200px;
	display: inline-block;
	vertical-align:middle;        /*使验证码与输入框居中对齐*/
	height: 25px;
	margin: auto;
}

.img{
	cursor: pointer;
	vertical-align:middle;
}

.container input:focus, .button:focus ,.container_denglu input:focus{
	width: 400px;
	height: 37px;
}   


.input_email,.input_password,.confirm_password,.button{
	margin: auto;
}

.error_notice{

	height:100%;
	width:50%;
	line-height: 30px;
}

.container_error_notice_01,.container_error_notice_02,.container_error_notice_03{
	width: 320px;
	height: 30px;
	margin: auto;
	
}

.change_link{
	text-align:center;
	margin-top: 40px;
}

#jump_to_denglu,#jump_to_zhuce{
	color:#a7c4c9;
	text-decoration:underline;
}
	     
.text{         
	color: #e2dfe4;    
}  

.a{
	cursor: pointer;              /*表示光标为一只手*/
}
   
.wrap ul {      
    position: absolute;  
	top: 50%;     
	left: 0;      
	width: 100%;
	z-index: -20;     
}  
.wrap ul li {       
	list-style-type: none;   
	display: block;         
	position: absolute;       
	bottom: -120px;         
	width: 15px;        
    height: 15px;          
	z-index: -8;           
	border-radius: 50%;    	  /*圆角边框*/
	animation: square 25s infinite;      
	-webkit-animation: square 25s infinite;
}      
.wrap ul li:nth-child(1) {  

	width: 100px;          
	height: 100px;    
	left: 0;           
	animation-duration: 10s;  /*  动画持续的时间*/ 
	-moz-animation-duration: 10s;
	-webkit-animation-duration: 10s; 
	background-color:#d41e1e85;	
}  

.wrap ul li:nth-child(2) {       
	width: 40px;          
	height: 40px;       
	left: 10%;        
    animation-duration: 15s;     
	-moz-animation-duration: 15s;         
	-webkit-animation-duration: 11s;  
	background-color:#ff572285;
}    
    
.wrap ul li:nth-child(3) {  
	left: 20%;    
	width: 25px;   
	height: 25px;       
	animation-duration: 12s;   
	-moz-animation-duration: 12s;             
    -webkit-animation-duration: 12s;   
	background-color:#d0d03fc2;
}    
    
.wrap ul li:nth-child(4) {    
	width: 50px;      
	height: 50px;         
	left: 30%;           
	-webkit-animation-delay: 3s;  
	-moz-animation-delay: 3s;            
    animation-delay: 3s;          
	animation-duration: 12s;        
    -moz-animation-duration: 12s;         
	-webkit-animation-duration: 12s; 
	background-color:#53a556b8;	
}       

.wrap ul li:nth-child(5) {  
	width: 60px;         
	height: 60px;         
	left: 40%;          
	animation-duration: 10s;    
	-moz-animation-duration: 10s;           
    -webkit-animation-duration: 10s; 
	background-color:#4e9cda91;	
}      
  
.wrap ul li:nth-child(6) {   
	width: 75px;       
	height: 75px;          
	left: 50%;            
	-webkit-animation-delay: 7s; 
	-moz-animation-delay: 7s;        
	animation-delay: 7s; 
	background-color:#7ad3de9c;	
}    

.wrap ul li:nth-child(7) {    
	left: 60%;          
	width: 30px;          
	height: 30px;           
	animation-duration: 8s;   
	-moz-animation-duration: 8s;
	background-color:#724ab975;	
}        
.wrap ul li:nth-child(8) {    
	width: 90px;         
	height: 90px;           
	left: 70%;            
	-webkit-animation-delay: 4s;  
	-moz-animation-delay: 4s;
	animation-delay: 4s;  
	background-color:#c1cc5c9c;		
}    
   
.wrap ul li:nth-child(9) {  
	width: 50px;        
    height: 50px;          
	left: 80%;          
	animation-duration: 20s; 
	-moz-animation-duration: 20s;          
	-webkit-animation-duration: 20s;   
	background-color:#d6491c8c;	
}   
     
.wrap ul li:nth-child(10) {           /*泡泡*/
	width: 75px;       
	height: 75px;         
	left: 90%;        
    -webkit-animation-delay: 6s;   
	-moz-animation-delay: 6s;           
	animation-delay: 6s;         
	animation-duration: 30s;        
    -moz-animation-duration: 30s;
	-webkit-animation-duration: 30s;  
	background-color:#b653338f;	
	
}      

@keyframes square {         
	0%  {             
	-webkit-transform: translateY(0);       
	transform: translateY(0);        
    }    
	
	100% {          
	bottom: 400px;      
	-webkit-transform: translateY(-500);   
	transform: translateY(-500);        
	}        
}    

@-webkit-keyframes square {      
	0%  {               
	-webkit-transform: translateY(0);  
	transform: translateY(0) ;         
	} 
	
	100% {              
	bottom: 400px;         
	-webkit-transform: translateY(-500);   
	transform: translateY(-500) ;    
	}       
}

.pointer1{

	height: 20px;
	width:  20px;
	border-radius: 100px;
	background-color: #b653338f;
	position: absolute;
}
.pointer2{

	height: 15px;
	width:  15px;
	border-radius: 100px;
	background-color: #d6491c8c;
	position: absolute;
}
.pointer3{

	height: 10px;
	width:  10px;
	border-radius: 100px;
	background-color: #c1cc5c9c;
	position: absolute;
}
.pointer4{

	height: 5px;
	width:  5px;
	border-radius: 100px;
	background-color: #724ab975;
	position: absolute;
}





